# Copia este archivo como ".env" y ajusta los valores si lo deseas.
# docker-compose los leerá automáticamente.

DJANGO_SECRET_KEY=cambia-esta-clave-por-una-segura-en-produccion
DJANGO_DEBUG=1

DB_NAME=memory_game_db
DB_USER=memory_user
DB_PASSWORD=memory_pass
